{% extends "base.html.twig"%}
   {% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
  {% endblock %}
{% block body %}
<div class="row" id="event_list">
</div>
<div class="row"><button id="loadMore">+Event</button></div>
{% endblock body %}
   {% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
    {{ encore_entry_script_tags('eventList') }}
  {% endblock %}